#head-sidebar-wrap {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  z-index: 101;
  transform: translateX(calc(-1 * var(--sidebarWidth)));
  /* transform: translateX(500px); */
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: white;
  width: var(--headerWidth);
  height: 100vh;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
  z-index: 100;
}

header h1 {
  width: auto;
  height: auto;
}

#sidebar-btn {
  all: unset;
  color: black;
  font-family: "hobeaux", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30pt;

  position: relative;
  width: auto;
  height: auto;

  writing-mode: vertical-rl;

  transform: scale(-1);
}

#sidebar {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: var(--sidebarWidth);
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);

  transition: transform 0.3s ease;
  z-index: 1000;
}

#sidebar.active {
  transform: translateX(0);
}

#sidebar div {
  width: 100%;
  height: 40%;
  margin: auto;
  position: relative;
  padding-top: 10vh;
  transform: scale(1);

  background-image: url("../images/icons/sidebar_title.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#sidebar p {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 200%;
  text-align: center;
  word-break: keep-all;

  position: relative;
  width: 70%;
  height: auto;
  margin: auto;
}

#sidebar-btn:hover {
  color: #cdcdcd;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: url("../images/cursor/cursor_pointer_60px.png") 20 -10, auto;
}

#sidebar-btn:active {
  font-size: 32pt;
  cursor: url("../images/cursor/cursor_hover_60px.png") 20 -10, auto;
  transition: all 0.3s ease;
}
